{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

<div class="container text-center mt-5 card  shadow-lg p-3 mb-5 rounded" id='other-components'>
    <h1>Contact Page</h1>
    <form action={% url 'contact' %} method="post" class="contact_form">
        {% csrf_token %}
        {%bootstrap_form form%}
        
        <input type="submit" value="Send" class="btn btn-primary mt-2">
    
    </form>
</div>

<script src="{% static 'simplesocial/js/contact_form_async.js' %}"></script>

{% endblock content %}