<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
   {% include 'links.html' %}

{% include 'nav.html' %}

<div class="list-group guesseditembox container" style='z-index: 99;'></div>

</head>
<body id="content" onload="loading()">
        <div class="container">
        <script src={% static 'simplesocial/js/themes.js' %}></script>
    {% block content %}{% endblock content %}
</div>

<canvas id="canvas" style="position:fixed; top:0; z-index: -1;"></canvas>
</body>
<script src="{% static 'simplesocial/js/csrf.ajax.js' %}"></script>
<script src="{% static 'simplesocial/js/master.js' %}"></script>
{% include 'searching_and_cart.html' %}
</html>