<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'simplesocial/css/master.css' %}" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap" rel="stylesheet">
<style>
    *{
        font-family: 'Fira Code', monospace;
    }
    body{
        height:100%;
    }
</style>
{% include 'nav.html' %}
</head>
<body id="content" onload="loading()">
        <div class="container">
            <script>   
              function refresh_page(){
                window.location.reload();
                DarkModeOnOff();
                
              }
                function loading(){
                  
                var darkcheck=document.getElementById("darkmode");    
                if(sessionStorage.getItem('default_theme') == 'true'){
                darkcheck.checked=true
                }
                else{
                  darkcheck.checked=false 
                }
               DarkModeOnOff();
                }              
                function DarkModeOnOff(){

                  var darkcheck=document.getElementById("darkmode");
                  if (darkcheck.checked==true){
                    sessionStorage.setItem('default_theme','true');
                    document.getElementById('content').classList.remove('bg-light','text-dark');
                    document.getElementById("nav").classList.remove('navbar-light');
                    document.getElementById('content').classList.add('bg-dark','text-light');
                    document.getElementById("nav").classList.add('navbar-dark');
                    var cards=document.querySelectorAll('#other-components')
                    for(var i = 0; i < cards.length; i++) {
                      cards[i].classList.add('bg-dark','text-light');
                        cards[i].classList.remove('bg-light','text-dark');
                        
                      }
                      document.getElementById("table").classList.add('table-dark');
                  }
                  else{
                    sessionStorage.setItem('default_theme','false');
                    document.getElementById('content').classList.remove('bg-dark','text-light');
                    document.getElementById("nav").classList.remove('navbar-dark');
                    document.getElementById("nav").classList.add('navbar-light');
                    document.getElementById('content').classList.add('bg-light','text-dark');
                    var cards=document.querySelectorAll('#other-components')
                    for(var i = 0; i < cards.length; i++) {
                      cards[i].classList.remove('bg-dark','text-light');                        
                      cards[i].classList.add('bg-light','text-dark');
                        
                      }
                      document.getElementById("table").classList.remove('table-dark');
                  }
                  
                    
                }
              </script>
    {% block content %}{% endblock content %}
</div>

<canvas id="canvas" style="position:fixed; top:0; z-index: -1;"></canvas>
</body>
<script src="{% static 'simplesocial/js/master.js' %}"></script>
</html>