<nav class="navbar navbar-expand-xl shadow-5-strong" id="nav">
    <div class="container-fluid">
      <span class="navbar-brand">eCommerce</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href={% url 'home' %}>Home</a>
          </li>
          {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href={% url 'accounts:signup' %}>SignUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'login' %}>LogIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'product:products' %}">Products</a>
          </li>
          <li class="nav-item d-flex justify-content-between">
            <label class="form-check-label nav-link" for="flexSwitchCheckDefault">Dark Mode</label>
            <input class="form-check-input nav-link mt-2 me-0" type="checkbox" role="switch" id="darkmode" onclick="refresh_page()">            
        </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'product:products' %}>Products</a>
          </li>
          <li class="nav-item d-flex justify-content-between">
            <label class="form-check-label nav-link" for="flexSwitchCheckDefault">Dark Mode</label>
            <input class="form-check-input nav-link mt-2 me-0" type="checkbox" role="switch" id="darkmode" onclick="refresh_page()">            
        </li>
          {% endif %}
        </ul>
          {% comment %} <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> {% endcomment %}
        {% include 'search/snippets/search-form.html' %}
        <ul class="navbar-nav me-5">
         
          <li class="nav-item">
            <a class="nav-link position-relative" href={% url 'carts:cart_home' %}>
                <i class="bi bi-cart" style="font-size:2rem;"></i>
                <span class="translate-middle badge text-danger" style="padding:0; position: absolute; top:50;">
                  <span id='cart_item_count'>{{request.session.cart_items}}</span>
                  <span class="visually-hidden">unread messages</span>
                </span>
            </a>
          </li>
        </ul>

            <div id="MyClockDisplay" class="clock nav-item" onload="showTime()" style="color: #17D4FE;
        font-family: Orbitron;
        letter-spacing: 7px;"></div>
      </div>
    </div>
  </nav>

<script>
  function showTime(){
    var date = new Date();
    var h = date.getHours(); // 0 - 23
    var m = date.getMinutes(); // 0 - 59
    var s = date.getSeconds(); // 0 - 59
    var session = "AM";
    
    if(h == 0){
        h = 12;
    }
    
    if(h > 12){
        h = h - 12;
        session = "PM";
    }
    
    h = (h < 10) ? "0" + h : h;
    m = (m < 10) ? "0" + m : m;
    s = (s < 10) ? "0" + s : s;
    
    var time = h + ":" + m + ":" + s + " " + session;
    document.getElementById("MyClockDisplay").innerText = time;
    document.getElementById("MyClockDisplay").textContent = time;
    
    setTimeout(showTime, 1000);
    
}

showTime();
</script>
  